name: Deploy CloudFormation Stack

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy CloudFormation template
        run: |
          aws cloudformation deploy \
            --template-file intelligent-csv-analyst-ec2.yaml \
            --stack-name intelligent-csv-analyst-stack \
            --capabilities CAPABILITY_NAMED_IAM \
            --parameter-overrides KeyName=intelligent-csv-analyst-keypair